# LLaMAZoo as Daemon

# -- 1] place script to /etc/systemd/system, then execute commands

# sudo systemctl daemon-reload
# sudo systemctl enable llamazoo

# -- 2] check /var/log/syslog for errors

# -- 3] use these commands for service control

# sudo systemctl start llamazoo
# sudo systemctl stop llamazoo

[Unit]

Description=LLaMAZoo

[Service]

PIDFile=/var/run/llamazoo.pid
WorkingDirectory=/home/git/llamazoo
ExecStart=/home/git/llamazoo/llamazoo --server >/dev/null 2>&1 &
# Send a termination signal to the service. SIGTERM (15) is the default:
ExecStop=systemctl kill llamazoo >/dev/null 2>&1 &

[Install]

WantedBy=multi-user.target
Alias=llamazoo