# LLaMAZoo as Daemon

# -- 1. Copy llamazoo executable and config.yaml to /home

# -- 2. Place this file to /etc/systemd/system, then execute commands

# sudo systemctl daemon-reload && sudo systemctl enable llamazoo

# -- 3. Check /var/log/syslog for errors

# -- 4. Use these commands for service control

# sudo systemctl start llamazoo
# sudo systemctl stop llamazoo

[Unit]

Description=LLaMAZoo

[Service]

PIDFile=/var/run/llamazoo.pid
WorkingDirectory=/home
ExecStart=/home/llamazoo --server >/dev/null 2>&1 &
# Send a termination signal to the service. SIGTERM (15) is the default:
ExecStop=systemctl kill llamazoo >/dev/null 2>&1 &

[Install]

WantedBy=multi-user.target
Alias=llamazoo